# This file is commonly accessed via passdb {} or userdb {} section in
# conf.d/auth-sql.conf.ext

driver = pgsql
connect = host=${POSTGRES_HOSTNAME} dbname=${POSTGRES_DATABASE} user=${POSTGRES_USERNAME} password=${POSTGRES_PASSWORD}
default_pass_scheme = SHA512-CRYPT

# Get the password
password_query = SELECT email as user, password FROM virtual_users WHERE email='%u';
